@import "tailwindcss";
@import "./auth/forms.css";
@import "./commons/webkits.css";
@import "./board/board.css";

@layer theme {
    :root {
        --font-sans: system-ui, -apple-system, sans-serif;
        --font-size-base: 14px;
        --color-primary: #BCA9E0;
    }
}

@layer base {
    html {
        font-family: var(--font-sans);
        font-size: var(--font-size-base);
    }
}

@layer components {



    
}

@layer utilities {

}